/* 清除默认样式 */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    /* ul有默认的40px的padding-left */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 清除默认样式结束 */


/* 公共样式开始 */
.left {
    float: left;
}

.right {
    float: right;
}

.content a {
    color: #666;
}

.title {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #e2e2e2;
}

.title h2 {
    float: left;
    width: 132px;
    font-size: 20px;
    text-align: center;
    color: #005d8c;
}

.title a {
    color: #005d8c;
}

.bd {
    height: 100%;
}

.hd {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.hd ul {
    text-align: center;
    overflow: hidden;
}

.hd ul li {
    display: inline-block;
    margin: 0 2px;
    padding: 0 15px;
    font-size: 0px;
    line-height: 10px;
    background-color: #fff;
    cursor: pointer;
}

.hd ul li.on {
    background: #005d8c;
    color: #005d8c;
}

.more {
    float: right;
    font-size: 12px;
}

.list li {
    height: 40px;
    padding: 6px 0 6px 14px;
    border-bottom: 1px dashed #ccc;
    background: url(../image/news_li.png) no-repeat;
}

.list li:last-child {
    border-bottom: none;
}

.list h3 {
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.list span {
    float: right;
    font-size: 12px;
}

/* 公共样式结束 */


/* 头部开始 */
.header {
    height: 176px;
    background-color: #005d8c;
}

.headertop {
    height: 134px;
    border-bottom: 2px solid #f80;
}

.headfirst {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
}

.logo {
    padding: 10px 0;
}

.logo a {
    display: block;
}

.search {
    position: relative;
    width: 260px;
    height: 134px;
    overflow: hidden;
}

.search_box {
    position: absolute;
    top: 80px;
    width: 260px;
    height: 38px;
}

.search_box>div {
    position: absolute;
    margin-left: 10px;
    line-height: 38px;
}

.search_box>input {
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
    width: 70%;
    height: 100%;
    font-size: 12px;
    line-height: 38px;
    outline: none;
}

.search_box>button {
    float: right;
    box-sizing: border-box;
    width: 30%;
    height: 38px;
    /* 消除button按钮的外边框 */
    border: 0;
    color: #fff;
    background-color: #0075b3;
    /* cursor: pointer; */
}

.search_box>button:hover {

    background-color: #055bd0;
}


.naviul {
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
    /* header占据136px,剩176px-136px=40px */
    height: 40px;
}

.naviul>li:hover {
    background: url('../image/shangjian.png') no-repeat 73% bottom;
}

.naviul>li:first-child:hover {
    background: url('../image/shangjian.png') no-repeat 85% bottom;
}

.naviul li a {
    display: block;
    padding-left: 35px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    text-align: right;
}

.navi1 a {
    background: url('../image/nav1.png') no-repeat left center;
}

.navi2 a {
    background: url('../image/nav2.png') no-repeat left center;
}

.navi3 a {
    background: url('../image/nav3.png') no-repeat left center;
}

.navi4 a {
    background: url('../image/nav4.png') no-repeat left center;
}

.navi5 a {
    background: url('../image/nav5.png') no-repeat left center;
}

.navi6 a {
    background: url('../image/nav6.png') no-repeat left center;
}

.navi7 a {
    background: url('../image/nav7.png') no-repeat left center;
}

.navi1 a:hover {
    background: url('../image/nav1h.png') no-repeat left center;
}

.navi2 a:hover {
    background: url('../image/nav2h.png') no-repeat left center;
}

.navi3 a:hover {
    background: url('../image/nav3h.png') no-repeat left center;
}

.navi4 a:hover {
    background: url('../image/nav4h.png') no-repeat left center;
}

.navi5 a:hover {
    background: url('../image/nav5h.png') no-repeat left center;
}

.navi6 a:hover {
    background: url('../image/nav6h.png') no-repeat left center;
}

.navi7 a:hover {
    background: url('../image/nav7h.png') no-repeat left center;
}

.banner {
    position: relative;
    height: 197px;
    overflow: hidden;
}

.banner img {
    /* 重设图片的宽度 */
    width: 100%;
}

.banner .prev {
    position: absolute;
    left: 3%;
    top: 50%;
    width: 32px;
    height: 40px;
    background: url(../image/slider-arrow.png) no-repeat -110px 5px;
    opacity: .5;
    /* 兼容IE */
    filter: alpha(opacity=50);
    cursor: pointer;
}

.banner .next {
    position: absolute;
    right: 3%;
    top: 50%;
    width: 32px;
    height: 40px;
    background: url(../image/slider-arrow.png) no-repeat 8px center;
    opacity: .5;
    /* 兼容IE */
    filter: alpha(opacity=50);
    cursor: pointer;
}

.banner a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(0, 0, 0, .5);
}

/* 头部结束 */


/* 内容区开始 */
.content {
    display: flex;
    flex-wrap: wrap;
    /* 两端对齐 */
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto 0;
}

.news {
    width: 760px;
    height: 340px;
    padding-right: 13px;
    border: 1px solid #e2e2e2;
}

.news .title h2 {
    height: 54px;
    background: url('../image/news_img1.png') no-repeat center 41px;
}

.news .contents {
    margin-top: 28px;
    margin-left: 13px;
}

.contents .contents_img {
    position: relative;
    width: 400px;
}

.news img {
    height: 255px;
    width: 100%;
}

.news .list {
    height: 258px;
}

.news .list li {
    width: 315px;
    background-position: left 8px;
}

.news .list h3 {
    width: 210px;
}

.colleage {
    width: 210px;
    border: 1px solid #e2e2e2;
}

.colleage .title {
    padding-right: 11px;
}

.colleage h2 {
    border-bottom: 2px solid #005d8c;
}

.colleage .list {
    margin-top: 28px;
}

.colleage .list li {
    padding-left: 31px;
    background-position: 17px 18px;
}