body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: 0;
    height: 100vh;
    background: rgb(34, 34, 34);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Ionicons';
}

.rating input {
    /* 隐藏radio按钮 */
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 兄弟选择器:选择一个元素后面的所有兄弟节点 */
.rating input:checked~label::before {
    opacity: 1;
}

.rating label {
    position: relative;
    margin-right: 6px;
    font-size: 5em;
    color: gold;
    cursor: pointer;
    transition: 0.5s;
}

.rating label:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.rating label::before {
    position: absolute;
    content: '\f384';
    opacity: 0;
    transition: opacity 0.5s;
}

.rating label:hover::before,
.rating label:hover~label::before {
    opacity: 1;
}

.rating:hover input:checked~label::before {
    opacity: 0;
}